# Startup Routine
AddCharset utf-8 .css .html .js .php .txt .xml
AddDefaultCharset utf-8
AddOutputFilterByType DEFLATE application/javascript application/pdf application/rss+xml application/xml font/eot font/otf font/ttf image/svg+xml image/vnd.microsoft.icon image/x-icon text/css text/html text/javascript text/plain text/xml
AddType application/rss+xml .xml
AddType font/eot .eot
AddType font/otf .otf
AddType font/ttf .ttf
AddType font/woff .woff
AddType font/woff2 .woff2
ContentDigest On
DefaultLanguage en
ExpiresActive On
ExpiresByType application/javascript A604800
ExpiresByType application/rss+xml A60
ExpiresByType application/xml A60
ExpiresByType font/eot A2419200
ExpiresByType font/otf A2419200
ExpiresByType font/ttf A2419200
ExpiresByType font/woff A2419200
ExpiresByType font/woff2 A2419200
ExpiresByType image/gif A2419200
ExpiresByType image/jpeg A2419200
ExpiresByType image/png A2419200
ExpiresByType image/svg+xml A2419200
ExpiresByType image/vnd.microsoft.icon A2419200
ExpiresByType image/x-icon A2419200
ExpiresByType text/css A604800
ExpiresByType text/html A60
ExpiresByType text/javascript A604800
ExpiresByType text/plain A60
ExpiresByType text/xml A60
FileETag All
Header always edit Set-Cookie (.*) "$1; SameSite=Lax; Secure"
Header always set Strict-Transport-Security "max-age=15768000; includeSubDomains; preload" env=HTTPS
Header always set X-Content-Type-Options nosniff

# <FilesMatch "\.(html|php|xml)$">
# 	# Header always set Content-Security-Policy "upgrade-insecure-requests; default-src 'self'; frame-ancestors 'self'"
# 	# Header always set Feature-Policy "camera 'none'; geolocation 'none'; microphone 'none'; payment 'none'"
# 	Header always set Referrer-Policy "strict-origin-when-cross-origin"
# 	Header always set X-XSS-Protection "1; mode=block"
# </FilesMatch>

# Course Calibration
RewriteEngine On
RewriteCond %{HTTPS} !=on [OR]
RewriteCond %{HTTP_HOST} !^meiert\.shop$ [NC]
RewriteRule ^ https://meiert.shop%{REQUEST_URI} [R=301,L]

# Course Alterations: P3
Redirect 302 /test https://meiert.com/en/

# Emergency
SetEnvIf Host ^ suppress-error-charset
ErrorDocument 401 '<!DOCTYPE html><title>Error</title><link rel=stylesheet href=https://d3rdtowr0c5lpf.cloudfront.net/setup/auxiliary.min.css><meta charset=utf-8><meta name=viewport content="initial-scale=1,minimum-scale=1,width=device-width"><p>Unauthorized.<p><a href=https://meiert.com/en/>🅜</a>'
ErrorDocument 403 '<!DOCTYPE html><title>Error</title><link rel=stylesheet href=https://d3rdtowr0c5lpf.cloudfront.net/setup/auxiliary.min.css><meta charset=utf-8><meta name=viewport content="initial-scale=1,minimum-scale=1,width=device-width"><p>Forbidden.<p><a href=https://meiert.com/en/>🅜</a>'
ErrorDocument 404 '<!DOCTYPE html><title>Error</title><link rel=stylesheet href=https://d3rdtowr0c5lpf.cloudfront.net/setup/auxiliary.min.css><meta charset=utf-8><meta name=viewport content="initial-scale=1,minimum-scale=1,width=device-width"><p>Not found.<p><a href=https://meiert.com/en/>🅜</a>'
ErrorDocument 500 '<!DOCTYPE html><title>Error</title><link rel=stylesheet href=https://d3rdtowr0c5lpf.cloudfront.net/setup/auxiliary.min.css><meta charset=utf-8><meta name=viewport content="initial-scale=1,minimum-scale=1,width=device-width"><p>Internal server error.<p><a href=https://meiert.com/en/>🅜</a>'